<section class="header-section">
    <div class="coming-soon">
        <h1 class="title-coming-soon">COMING SOON</h1>
       
        <P class="subtitle">Estamos trabajando para mejorar, esta página estará de regreso muy pronto.</P>
        <P class="subtitle subtitle2" >Si quieres cambiar el mundo, cámbiate a ti mismo. <br>(Mahatma Gandhi)</P>
        <div class="icons">
            <a href="https://www.linkedin.com/in/didier-ramirez-a9154a206/" target="_blank" rel="noopener noreferrer">
                <img src="../assets/social-network/linkedin.svg" alt="" srcset="" width="25">
            </a>
        </div>
        
    </div>
</section>